{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}Flat Fee MLS for {{ city.name }} {{ region.name }}{% endblock %}
{% block title %}Flat Fee MLS for {{ city.name }} {{ region.name }}{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url home %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
{% endblock %}

{% block extra_breadcrumb %}
<li>
    <a href="/listings/{{ region.name|slugify }}">{{ region.name }}</a>
    <span class="divider">/</span>
</li>
    <li class="active">{{ city.name }}</li>
{% endblock %}

{% block main %}
    <h1>Flat Fee Listings in {{ city.name }} {{ region.name }}</h1>
{% endblock %}