{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}Flat Fee MLS for {{ city.name }} {{ region.name }}{% endblock %}
{% block title %}Flat Fee MLS for {{ city.name }} {{ region.name }}{% endblock %}

{% block breadcrumb_menu %}
<li>
<a href="{% url home %}">{% trans "Home" %}</a>
<span class="divider">/</span>
</li>
{% endblock %}

{% block extra_breadcrumb %}
<li>
<a href="/listings/{{ region.name|slugify }}">{{ region.name }}</a>
<span class="divider">/</span>
</li>
<li class="active">{{ city.name }}</li>
{% endblock %}

{% block main %}
{#<h2>Start a listing in {{ city.name }}, {{ region.name }}</h2>#}
<fieldset>
    <legend>Street address for listing in {{ city.name }}, {{ region.name }}</legend>
    <form enctype="multipart/form-data" action="/listings/{{ region.name|slugify }}/{{ city.name|slugify }}/" method="post" id="add-location" autocomplete="on">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="Add Location">
    </div>
    </form>
</fieldset>

{% endblock %}