{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}Property images{% endblock %}
{% block title %}Property images{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style type="text/css">
    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 148px; }
    #sortable li span { position: absolute; margin-left: -1.3em; }
</style>
{% endblock %}

{% block extra_js %}
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $("#sortable").sortable({
        stop : function(event, ui){
//          alert($(this).sortable('serialize'));
            $('input[name=sorted_images]').val($(this).sortable('serialize'));
        }
    });
    $('input[name=sorted_images]').val($("#sortable").sortable('serialize'));
    $("#sortable").disableSelection();
});//ready

</script>
{% endblock %}

{% block breadcrumb_menu %}
<li>
<a href="{% url home %}">{% trans "Home" %}</a>
<span class="divider">/</span>
</li>
{% endblock %}

{% block extra_breadcrumb %}
<li>
<a href="/listings/{{ request.session.clean_state|slugify }}">{{ request.session.clean_state }}</a>
<span class="divider">/</span>
</li>
<li>
<a href="/listings/{{ request.session.clean_state|slugify }}/{{ request.session.clean_city|slugify }}">{{ request.session.clean_city }}</a>
<span class="divider">/</span>
</li>
<li class="active">Property images</li>
{% endblock %}

{% block main %}
{#<h2>Start a listing in {{ city.name }}, {{ region.name }}</h2>#}
<fieldset>
    <legend>Images for {{ request.session.clean_street }}, {{ request.session.clean_city }}, {{ request.session.clean_state }}</legend>
    <form enctype="multipart/form-data" action="/propertyimages/{{ property.id }}/" method="post" id="upload-image" autocomplete="on">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="Upload image">
    </div>
    </form>
</fieldset>

{% if property.propertyimage_set.count > 0 %}
<form enctype="multipart/form-data" action="/propertyimages/{{ property.id }}/?sorted=true" method="post" id="sort-images">
{% csrf_token %}
<input type="hidden" value="" name="sorted_images">

<div id="images">
<p>Drag thumbnails to order your images the way you want them to appear in listings.</p>
<p>The first image will be your primary image</p>
<ul id="sortable">
    {% for img in property.propertyimage_set.all %}
    <li class="ui-state-default" id="image_{{ forloop.counter }}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
    <img src="{{ STATIC_URL }}media/{% thumbnail img 138 138 %}" alt="Img number {{ forloop.counter }}"/></li>
    {% endfor %}
    <input class="btn btn-primary btn-large" type="submit" value="Add Images -> Listing Agreement">
</ul>
</div>
</form>
{% endif %}

{% endblock %}